body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.actionButtons {
  background-color: red;
  width: 100%;
  min-height: 10%;
}

.myBar {
  background-color: skyblue;
}

.ennemyDatabar {
  background-color: crimson;
}
